<template>
  <h1></h1>
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">Bar</p>
        <p class="subtitle">Hello</p>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Bar",
});
</script>

<style lang="sass" scoped>
@import "~bulma/sass/layout/section.sass"
@import "~bulma/sass/layout/hero.sass"
@import "~bulma/sass/elements/title.sass"
</style>
