<template>
  <h1>{{ header }}</h1>
  <div>Externalized config</div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { config } from "@/config";

export default defineComponent({
  name: "Bar",
  setup() {
    const header = config.title;
    return { header };
  },
});
</script>

<style lang="sass" scoped>
@import "~bulma/sass/layout/section.sass"
@import "~bulma/sass/layout/hero.sass"
@import "~bulma/sass/elements/title.sass"
</style>
