<template>
  <span :style="myStyle">Foo</span>
  <div>
    <code v-if="post">{{ post }}</code>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import styles from "@/styles/exports.module.sass";
import { Post } from "@/domain/posts";
import { getPost } from "@/api";

const getRandomInt = (min: number, max: number): number => Math.floor(Math.random() * (max - min) + min);

export default defineComponent({
  name: "Foo",
  setup() {
    const post = ref<Post | undefined>();

    const postId = getRandomInt(1, 10);
    getPost(postId).then((p: Post) => (post.value = p));

    const myStyle = {
      color: styles.brandYellow,
      backgroundColor: styles.brandGreenDark,
    };
    return { post, myStyle };
  },
});
</script>

<style lang="sass" scoped></style>
