<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from "@/components/HelloWorld.vue";
import { Views } from "@/router";
import { getTitle } from "@/api";
</script>

<template>
  <h1>{{ getTitle() }}</h1>
  <img alt="Vue logo" src="./assets/logo.png" />
  <HelloWorld msg="Hello Vue 3 + TypeScript + Vite" />
  <router-link class="link" :to="{ name: Views.FOO }">Foo</router-link>
  <router-link class="link" :to="{ name: Views.BAR }">Bar</router-link>
  <router-link class="link" :to="{ name: Views.BAZ }">Baz</router-link>
  <div class="view">
    <router-view />
  </div>
</template>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px

.link
  padding: 5px

.view
  padding: 10px
</style>
